<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
	<f:flashMessages />

	<f:form name="humhublogin">
		<div class="mb-3">
			<label for="username" class="form-label">{f:translate(key:'form.username.label')}</label>
			<f:form.textfield property="username" class="form-control" id="username" required="required" />
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">{f:translate(key:'form.password.label')}</label>
			<f:form.password property="password" class="form-control" id="password" additionalAttributes="{required:required}" />
		</div>
		<f:form.submit class="btn btn-primary" value="{f:translate(key:'button.value')}"/>
	</f:form>

</f:section>
</html>
