<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">

	<f:flashMessages />
	<f:if condition="{humhuburl}">
		<f:then>
			<f:link.external class="btn btn-primary" uri="{humhuburl}" target="_blank">{f:translate(key:'button.value')}</f:link.external>
		</f:then>
		<f:else>
			{f:translate(key:'buttonAuth.error.label')}
		</f:else>
	</f:if>
</f:section>
</html>
